{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>სრული კატალოგი</h2>
    <a href="{% url 'catalog_create' %}" class="btn btn-primary mb-3">დაამატე ახალი მოდელი</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>სურათი</th>
                <th>მოდელი</th>
                <th>სახელი</th>
                <th>კატეგორია</th>
                <th>სქესი</th>
                <th>კომპონენტი</th>
                <th>კომენტარი</th>
                <th>ქვები</th>
                <th>მოქმედება</th>
            </tr>
        </thead>
        <tbody>
            {% for catalog in catalogs %}
            <tr>
                <td><img src="/media/{{ catalog.image_location }}" alt="model" width="200" height="200"></td>
                <td><a href="{% url 'catalog_update' catalog.model_id %}" class="btn btn-sm btn-primary">{{ catalog.model_id }}</a></td>
                <td>{{ catalog.model_name }}</td>
                <td>{{ catalog.model_category }}</td>
                <td>{{ catalog.gender }}</td>
                <td>{{ catalog.peaces }}</td>
                <td>{{ catalog.note }}</td>
                <td>
                  <table class="table table-striped table-sm">
                    <tr>
                      <th>ქვა</th>
                      <th>სულ კარატ.</th>
                      <th>ერთ კრატ.</th>
                      <th>რაოდ.</th>
                    </tr>
                      {% for stone in catalog_stones %}
                          {% if stone.model_id == catalog.model_id %}
                            <tr>
                              <td>{{ stone.stone_full_name }}</td>
                              <td>{{ stone.total_weight }}</td>
                              <td>{{ stone.weight }}</td>
                              <td>{{ stone.quantity | floatformat:"0" }}</td>
                            </tr>
                          {% endif %}
                      {% endfor %}
                  </table>
                </td>
                <td>
                    <a href="{% url 'catalog_delete' catalog.model_id %}" class="btn btn-sm btn-danger">წაშლა</a>
                    <a href="{% url 'catalog_delete' catalog.model_id %}" class="btn btn-sm btn-primary">ქვის დამატება</a>
                    <a href="{% url 'catalog_delete' catalog.model_id %}" class="btn btn-sm btn-secondary">პროდუქციაში დამატება</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}