{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ action }} პარტია N <span style="color: Red">{{ lotform.instance.lot_id }}</span></h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <div class="mb-3 d-flex gap-2">
                {{ lotform.lot_date.label }}
                {{ lotform.lot_date }}
                {{ lotform.metal_full_name.label }}
                {{ lotform.metal_full_name }}
                {{ lotform.master_full_name.label }}
                {{ lotform.master_full_name }}
            </div>
            {{ lotform.note.label }}
            {{ lotform.note }}
        </div>

        <button type="submit" class="btn btn-primary">{{ action }}</button>
        <a href="{% url 'lot_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
    <hr>

    <h2>პარტია N <span style="color: Red">{{ form.instance.lot_id }}</span>-ში შემავალი მოდელები</h2>
    <table class="table table-striped ">
        <thead>
            <tr class="table align-middle">
                <th>სურათი</th>
                <th>მოდელის N</th>
                <th>სახელი</th>
                <th>
                    <table class="table table-sm">
                        <tr>
                          <th>ქვის სახელი_ზომა</th>
                          <th>წონა სულ</th>
                          <th>წონა ერთ</th>
                          <th>ცალ.</th>
                          <th>წაშლა</th>
                        </tr>
                    </table>
                </th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            {% for model in all_models %}
            <tr>
                <td><img src="/media/{{ model.image_location }}" alt="model" width="200" height="200"></td>
                <td><a href="{% url 'model_update' model.model_id %}" class="btn btn-sm btn-primary">{{ model.model_id }}</a></td>
                <td>{{ model.model_name }}</td>
                <td>
                  <table class="table table-striped table-sm">
                      {% for stone in all_model_stones %}
                          {% if stone.model_id == model.model_id %}
                            <tr>
                              <td>{{ stone.stone_full_name }}</td>
                              <td>{{ stone.total_weight }}</td>
                              <td>{{ stone.weight }}</td>
                              <td>{{ stone.quantity | floatformat:"0" }}</td>
                              <td><a href="{% url 'model_delete_stone' model.model_id stone.stone_full_name %}" class="btn btn-sm btn-danger">წ</a></td>
                            </tr>
                          {% endif %}
                      {% endfor %}
                  </table>
                </td>
                <td width="10%">
                    <div class="mb-3">
                        <a href="{% url 'model_add_2_lot' model.model_id %}" class="btn btn-sm btn-secondary">წარმოებაში დამატება</a>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'model_add_stone' model.model_id %}" class="btn btn-sm btn-primary">მოდელზე ქვის დამატება</a>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'model_delete' model.model_id %}" class="btn btn-sm btn-danger">მოდელის წაშლა</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}